/****** General ***********/

* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
    margin: 0;
}

/****** Mes variables ***********/

:root {
    --main-bg-color: #f7f7f7;
    --main-btn-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    --main-btn-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    --scd-btn-color: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    --scd-btn-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    --btn-color: #99e2d0;
    --btn-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    --icon-color: #353535;
}

/****** Body ***********/

body {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

.fa-solid {
    color: var(--icon-color);
}

h1,
h2,
p {
    font-family:'Roboto', sans-serif;
}

/****** Header ***********/

header {
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-group {
    width: 100%;
    height: 63px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);;
    z-index: 1;
}

.fa-arrow-left {
    width: 17.2px;
    height: 16px;
    padding-left: 23px;
    visibility: hidden;
}

.logo {
    padding-left: 64.8px;
    width: 162px;
    height: 44px;
}

.location {
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.fa-location-dot {
    width: 12px;
    height: 16px;
}

.location p {
    color: #353535;
}

/****** Reservation ***********/

.reservation {
    height: 191px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 39.5px;
    margin-bottom: 57px;
}

.reservation h1 {
    width: 275px;
    padding-bottom: 12px;
}

.reservation p {
    font-weight: 300;
    font-size: 18px;
    color: #353535;
    padding-bottom: 27px;
    width: 315px;
}

.box-content {
    display: block;
    position: relative;
    left: -29%;
    cursor: pointer;
}

.box-content .btn {
    width: 218px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    background: var(--main-btn-color);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.txt-btn {
    width: 218px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Roboto', sans-serif;
    color: white;
    background-color: transparent;
    box-shadow: var(--main-btn-shadow);
}

.box-content .btn:hover {
    background: var(--scd-btn-color);
}

.txt-btn:hover {
    box-shadow: var(--scd-btn-shadow);
}

/****** Functioning ***********/

.functioning {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 20px 68px 20px;
    gap: 26px;
}

.functioning .order-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
    counter-reset: compteListe;
}

.functioning .list {
    font-family:'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--main-bg-color);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 322.49px;
    height: 72.38px;
    position: relative;
    left: 12.51px;
}

.list:before {
    content: counter(compteListe) "";
    counter-increment: compteListe 1;
    background: #9356DC;
    border-radius: 25px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    position: relative;
    right: 12px;
}

.fa-mobile-screen-button {
    color: #7e7e7e;
    width: 13.02px;
    height: 19.9px;
    padding-left: 9.98px;
    padding-right: 27px;
}

.fa-list-ul {
    color: #7e7e7e;
    width: 16px;
    height: 15.92px;
    padding-left: 11px;
    padding-right: 23px;
}

.fa-store {
    color: #9356DC;
    width: 18px;
    height: 17.91px;
    padding-left: 12px;
    padding-right: 20px;
}

.order-list span {
    font-family:'Roboto', sans-serif;
}

/****** Restaurants ***********/

.restaurants {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.restaurants h1 {
    width: 100%;
    padding-top: 54px;
    padding-left: 20px;
    padding-bottom: 28px;
}

.restaurants-cards {
    display: flex;
    flex-direction: column;
    padding-left: 17px;
    padding-bottom: 66px;
    gap: 18px;
    position: relative;
}

.card {
    overflow: hidden;
    width: 340px;
    height: 251px;
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    display: block;
}

.card img {
    position: absolute;
    left: -0.88%;
    right: -0.88%;
    top: -22.71%;
    bottom: 30.68%;
    width: 346px;
    height: 231px;
}

.restaurants a {
    color: black;
    text-decoration: none;
}

.badge {
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #008766;
    text-align: center;
    line-height: 2;
    width: 80px;
    height: 29px;
    background: #99E2D0;
    box-shadow: var(--btn-shadow);
    border-radius: 2px;
    position: absolute;
    left: 248px;
    bottom: 209px;
}

.restaurants h2 {
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    left: 3.82%;
    bottom: 16.33%;
}

.restaurants p {
    font-weight: 300;
    font-size: 17px;
    position: absolute;
    left: 3.82%;
    bottom: 8%;
}

.restaurants i {
    width: 22px;
    height: 21px;
    position: absolute;
    left: 293px;
    bottom: 33px;
}

.laNoteEnchantee {
    object-fit: cover;
}

/****** Footer ***********/

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 25px;
    gap: 16px;
    background: #353535;
    color: #FFFFFF;
}

footer h3 {
    font-family:'Shrikhand', cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
}

.links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

.links a {
    font-family:'Roboto', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}

.fa-utensils {
    width: 11px;
    height: 13px;
    color: #FFFFFF;
    padding-right: 11px;
}

.fa-handshake-angle {
    width: 11.92px;
    height: 13px;
    color: #FFFFFF;
    padding-right: 10.08px;
}