/****** General ***********/

* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
    margin: 0;
}

/****** Mes variables ***********/

:root {
    --main-bg-color: #f7f7f7;
    --main-btn-color: linear-gradient(355deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    --main-btn-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    --btn-color: #99e2d0;
    --btn-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    --heart-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    --icon-color: #353535;
}

/****** Body ***********/

body {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    width: 100%;
    max-width: 1086px;
}

.fa-solid {
    color: var(--icon-color);
}

h1,
h2,
p {
    font-family:'Roboto', sans-serif;
}

h4 {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    font-size: 28px;
    font-style: italic;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/****** Footer ***********/

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 25px;
    gap: 16px;
    background: #353535;
    color: #FFFFFF;
}

footer h3 {
    font-family:'Shrikhand', cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
}

.links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

.links a {
    font-family:'Roboto', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}

.fa-utensils {
    width: 11px;
    height: 13px;
    color: #FFFFFF;
    padding-right: 11px;
}

.fa-handshake-angle {
    width: 11.92px;
    height: 13px;
    color: #FFFFFF;
    padding-right: 10.08px;
}

/* Large devices (desktop, more than 1086px) */
@media (min-width: 1086px) {
    .main-container {
        max-width: unset;
        min-width: 1086px;
    }

/****** Footer ***********/

    footer {
        height: 114px;
        flex-direction: row-reverse;
        align-items: flex-end;
        padding: 30px 25px;
    }

    footer h3 {
        width: 137.58px;
        height: 27px;
        line-height: 26.24px;
    }

    .links {
        flex-direction: row;
    }

    .link1,
    .link2 {
        display: inline-flex;
        width: 190px;
        height: 19px;
    }

    .link3,
    .link4 {
        display: inline-flex;
        width: 130px;
        height: 20px;
    }
}